/* GENERAL STYLING */

html {
    scroll-behavior: smooth; /*ensures scrolling is smooth from nav buttons*/
}

body {
    margin: 0%; /*Site displayed all way to edge*/
    opacity: 1; /*Page loading effect*/
    transition: 3s opacity; /*3 second fade in*/
    letter-spacing: .2vw; /* .2% of viewport */
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    overflow-x: hidden; /*Prevents horizontal scroll bar when quote is hovered over*/
    user-select: none; /* Prevents text on webpage from being highlighted by user*/
}

body.fade-out {
    opacity: .1; /* sets opacity on start of page load */
}

h1 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: -3%;
    color: blue;
}

h1:hover {
    color:darkblue;
    transition: .75s;
}

.white-text {
    color: #fff; /*Title text color*/
    padding-top: 10vh; /* adds padding (10% of viewport height) to top of title text */
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
    color: rgb(51, 51, 255);
}

.center {
    text-align: center;
}

.center:hover {
    transform: transform 2s;
    transform: scale(1.1);
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

q {
    font-style: italic;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto auto auto  auto;
}

/*
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

footer {
    padding: 2%;
    background-color:lightgray;
}
*/

/* NAVBAR STYLING */

.Navbar {
    overflow: hidden;
    background-color: rgb(30, 33, 30);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
    border: 2px solid rgb(2, 2, 2);
}

@keyframes moveNav {
    from {left:-100vw;}
    to {left: 0vw;}
}

.Navbar a {
    float: left;
    display: block;
    color: blanchedalmond;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Avant Garde, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.Navbar a.active {
    background-color: darkgrey;
}

/***** VIDEO STYLING *****/

#back_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #back_video {
        display: none;
    }
}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: blanchedalmond;
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 8s;
    animation: moveVideoText 8s;
}

@keyframes moveVideoText {
    from {top: -100vw}
    to {top: 0vw}
}

/* SLideShow Styling */

#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
}

.mySlides{
    display: none; /* Prevents image from displaying until javascript */
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

#Slideshow_Container a {
    text-decoration: none;
}

.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 100%;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgrey;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 px;
}

.Previous:hover, .Next:hover {
    background-color: black;
    color: white;
}

/*Slideshow text*/
.text {
    color: #fff;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* TABLE STYLING */

* { /* universal selector */
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: whitesmoke;
}


.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: rgb(62, 70, 64);
}

/*
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}
*/

.Row:after {
    content: "";
    display: table;
    clear: both;
}

/* CONTACT FORM STYLING */

.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: #fff;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

/* Input fields */
.form-container input{
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

/* General styling for all buttons */
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:  .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    border-color: silver;
}

/* Submit */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: #fff;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/* Media Query */

@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text]:hover {
    box-shadow: 0 0 5px rgb(13, 14, 106);
}

input[type=submit] {
    background-color: black;
    color: blanchedalmond;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=submit]:hover {
    background-color: whitesmoke;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

form {
    border-radius: 5px;
    background-color:rgb(243, 239, 239);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

/*@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}*/